/********************
VARIABLES
*********************/

:root {
    --color-bg: #f4f6f5;
    --color-light-grey: #848493;
    --color-accent: #b23e51;
    --color-dark-grey: #707070;
    --color-black-purple: #271b29;
}

/*Box Sizing*/
* {
    box-sizing: border-box;
}

/**********************************
General Styling
***********************************/
body {
    font: normal 1em/1.6 "Aptly", sans-serif;
    background: var(--color-bg);
    color: var(--color-bg);
}

.container {
    width: 100%;
    max-width: 1800px;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-template-areas: "header" "main" "footer";

}

img {
    width: 100%;
}

h1,
h2 {
    font-family: "Amandine", cursive, sans-serif;
}

a {
    text-decoration: none;
}

ul {
    padding: 0;
}

/*****************************
 Header & Nav Elements
******************************/
header {
    grid-area: header;
    position: relative;
    display: flex;
    height: 60px;
}

/** Logo **/
#logo img {
    height: 58px;
    margin-right: auto;

}

/*Hamburger Nav Control*/
.nav-toggle-label {
    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 60px;
    height: 55px;
    align-self: center;
    /*****DEBUG REMOVE*****/
    border: solid rgb(240, 19, 3) 1px;
}

/*Hamburger Bars*/
.hamburger {
    display: block;
    background-color: var(--color-black-purple);
    width: 50px;
    height: 7px;
    border-radius: 5px;
    margin: 4px auto;

}



#menu {
    position: absolute;
    width: 100%;
    top: 46px;
    left: 0;
    /*****DEBUG REMOVE*****/
    border: solid green 1px;
}





main {
    grid-area: main;
}


footer {
    grid-area: footer;
}