:root {
    --color-bg: #f4f6f5;
    --color-light-grey: #848493;
    --color-accent: #b23e51;
    --color-dark-grey: #707070;
    --color-black-purple: #271b29;
}

* {
    box-sizing: border-box;
}

body {
    font: normal 1em/1.6 "Aptly", sans-serif;
    background: var(--color-bg);
    color: var(--color-bg);
}

.container {
    width: 99%;
    max-width: 1800px;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-template-areas: "header" "main" "footer";

}


header {
    grid-area: header;
}


main {
    grid-area: main;
}

footer {
    grid-area: footer;
}